*{  
    box-sizing: border-box; 
    margin:0;
    padding:0;
    list-style: none;  
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
body {
padding-top: 60px;
}
.navbar{
  background-color: #FFFFFF;
  font-size: 15px;
  color: white;
}

.container{
    padding-top:20px;
}
.active {
    background-color: #FFFFFF;
}

.icon-bar{
  background-color:#000000;
}

.fa{
    color: #FF7777;
}
/*--------------------------------------------------------------
Mobile
--------------------------------------------------------------*/
  




/*--------------------------------------------------------------
Desktop
--------------------------------------------------------------*/
  
